<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <% time = Time.now %>
    <% case time.wday %>
    <% when 0 %>
      <h1>Sunday</h1>
    <% when 1 %>
      <h1>Monday</h1>
    <% when 2 %>
      <h1>Tuesday</h1>
    <% when 3 %>
      <h1>Wednesday</h1>
    <% when 4 %>
      <h1>Thursday</h1>
    <% when 5 %>
      <h1>Friday</h1>
    <% when 6 %>
      <h1>Saturday</h1>
  </body>
</html>